    <h1 class="lead">Register User</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
    <div id="loginStyle">
  <form ng-submit="registerUser()">
    <div class="username">
        <label for="username">Username:</label>
        <input class="usernameField" type="text" ng-model="user.username" />
    </div>
    <div class="password">
        <label for="password">Password:</label>
        <input class="passwordField" type="password" ng-model="user.password" />
    </div>
    <div class="profileImage">
        <div class="profileImageSelection">
        <button class="imageButton" ng-click="adjustSelectionDown()"><img height="30" width="30" src="../imgs/left_arrow.png" ng-model="picture"/></button>
        <img ng-src='{{picture}}' />
        <button class="imageButton" ng-click="adjustSelectionUp()"><img height="30" width="30" src="../imgs/right_arrow.png" ng-model="picture"/></button>
      </div>
    </div>
  <div class="buttonContainer">
    <input class="btn btn-default button" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </div>
  </form>

</div>
